<%- include(`partials/header.ejs`) %>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" placeholder="write here" name="Title" class="form-control">
            <label for="blogPost">Blog</label>
            <textarea name="blogPost" cols="40" rows="5" class="form-control"></textarea>
        </div>
        
        <button type="submit" class = "btn btn-primary">post</button>
    </form>

<!-- <%- include(`partials/footer.ejs`) %> -->